POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_ISSUER=

STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PORTAL_URL=

ZUPLO_URL=
ZUPLO_ACCOUNT_ID=
ZUPLO_PROJECT_ID=
ZUPLO_KEY_BUCKET=
ZUPLO_API_KEY=

## Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=

## Only required for localhost
NEXTAUTH_URL=

